/*.box-orange {
    position: absolute;
    background-color: orange;
    width: 100px;
    height: 100px;
    left: 15px;
    top: 15px;
}

.box-blue {
    background-color: aqua;
    width: 100px;
    height: 100px;
    
}

.container {
    background-color: lightsteelblue;
    width: 600px;
    height: 300px;
    position: relative;
}*/

.dice1-player-1 {
    margin: 100px 100px 100px 550px;
}